@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tile {
    @apply w-16 h-16 md:w-20 md:h-20 flex items-center justify-center text-2xl md:text-3xl font-bold rounded-lg shadow-md select-none cursor-pointer relative;
  }
}